<section id="footer">
    <!-- <img src="/media/border2.png" alt=""  id="footer-img"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/media/logo.png" alt=""  >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fugiat! Quis nostrum, amet dolorem adipisci ratione blanditiis asperiores magnam? Dignissimos sit molestias ipsa maiores nobis eaque voluptatem cum obcaecati aperiam!</p>
            </div>
            <div class="col-md-4">
                <h2>Indigo Pvt Ltd</h2>
                <table id="info">
                    <tr>
                        <td id="icon"><i class="bi bi-buildings"></i></td>
                        <td class="content"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, fugiat sunt mollitia quasi eligendi nobis autem incidunt, facere id dolorum velit quod natus eos? Quidem, assumenda mollitia. Dolor, deleniti assumenda!</span></td>
                    </tr>
                    <tr>
                        <td ><i class="bi bi-telephone-fill"></i></td>
                        <td class="content">140-112232</td>
                    </tr>
                    <tr>
                        <td ><i class="bi bi-phone-fill"></i></td>
                        <td class="content">+91-7037228545</td>
                    </tr>
                    <tr>
                        <td ><i class="bi bi-envelope"></i></td>
                        <td class="content">sbj.com</td>
                    </tr>
                </table>
                
            </div>
            <div class="col-md-4">
                <h2>Query Form</h2>
                <form action="" method="post">
                    <input type="email" name="" id="" placeholder="Enter Email" class="form-control">
                    <textarea name="" id="" placeholder="enter Query" class="form-control mt-2 mb-2"></textarea>
                    <button type="submit" class="btn btn-success form-control">Post Query</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container text-center" id="social">
    <div class="row">
        <div class="col-md-12">
           <img src="/media/instagram-icon.png" alt="">
            <img src="/media/linkedin-icon.png" alt="">
            <img src="/media/twitter-icon.png" alt="">
            <img src="/media/snapchat-icon.png" alt="">
        </div>
    </div>
</div>

</section>