#reg{
    height:600px;
    display: flex;
    align-items: center;
}
#reg h2{
    text-align: center;
    font-family: 'Explora',cursive;
    font-weight: bolder;
    font-size: 30px;
}
#header button{
    float: right;
}
#header h2{
    color: white;
    font-weight: bolder;
}
#header{
    background: linear-gradient(to right,rgb(8,23,176),rgb(1,7,62));
    padding: 15px 0px;
}
#footer{
    background: linear-gradient(to right,rgb(8,23,176),rgb(1,7,62));
    padding: 10px 0px;
   
}
#footer h2{
    color: white;
    text-align: center;
}